rootkey.csv

venv/
.vscode

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
nzt_flask/nzt_flask.egg-info
.coverage
.pytest_cache

_tutorials_and_prototypes_/
notes.txt
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.ini
